h2 { width: 600px; padding: 0 40px; border: 3px solid #009999; background-color: #ccffff; border-radius: 25px; text-align:center;display: block;
margin-left: auto;
margin-right: auto
}

p { width: 1000px; padding: 0 40px; border: 2px solid #009999; background-color: #FC6; border-radius: 20px; display: block;
margin-left: auto;
margin-right: auto
}